@font-face {
  font-family: 'HK Grotesk';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/HKGrotesk-regular/HKGrotesk-Regular.eot');
  src: url('../fonts/HKGrotesk-regular/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
       local('HK Grotesk'),
       local('HKGrotesk-Regular'),
       url('../fonts/HKGrotesk-Regular/HKGrotesk-Regular.woff2') format('woff2'),
       url('../fonts/HKGrotesk-Regular/HKGrotesk-Regular.woff') format('woff'),
       url('../fonts/HKGrotesk-Regular/HKGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/HKGrotesk-700/HKGrotesk-Bold.eot');
  src: url('../fonts/HKGrotesk-700/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
       local('HK Grotesk Bold'),
       local('HKGrotesk-700'),
       url('../fonts/HKGrotesk-700/HKGrotesk-Bold.woff2') format('woff2'),
       url('../fonts/HKGrotesk-700/HKGrotesk-Bold.woff') format('woff'),
       url('../fonts/HKGrotesk-700/HKGrotesk-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/HKGrotesk-italic/HKGrotesk-Italic.eot');
  src: url('../fonts/HKGrotesk-italic/HKGrotesk-Italic.eot?#iefix') format('embedded-opentype'),
       local('HK Grotesk Italic'),
       local('HKGrotesk-italic'),
       url('../fonts/HKGrotesk-italic/HKGrotesk-Italic.woff2') format('woff2'),
       url('../fonts/HKGrotesk-italic/HKGrotesk-Italic.woff') format('woff'),
       url('../fonts/HKGrotesk-italic/HKGrotesk-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/HKGrotesk-700italic/HKGrotesk-BoldItalic.eot');
  src: url('../fonts/HKGrotesk-700italic/HKGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'),
       local('HK Grotesk Bold Italic'),
       local('HKGrotesk-700italic'),
       url('../fonts/HKGrotesk-700italic/HKGrotesk-BoldItalic.woff2') format('woff2'),
       url('../fonts/HKGrotesk-700italic/HKGrotesk-BoldItalic.woff') format('woff'),
       url('../fonts/HKGrotesk-700italic/HKGrotesk-BoldItalic.ttf') format('truetype');
}
